@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light dark;
}

* {
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: "Sora", ui-sans-serif, system-ui;
  transition: background-color 200ms ease, color 200ms ease;
}

button {
  font-family: inherit;
}
